@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hero-section-gradient: linear-gradient(
    143.94deg,
    rgba(228, 170, 211, 0.6) 6.58%,
    rgba(218, 218, 188, 0.432) 30.38%,
    rgba(146, 222, 246, 0.408) 54.17%,
    rgba(89, 132, 194, 0.6) 77.96%
  );

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
body {
  font-family: var(--font-poppins);
}
.background-gradient {
  background: linear-gradient(
    143.94deg,
    rgba(228, 170, 211, 0.6) 6.58%,
    rgba(218, 218, 188, 0.432) 30.38%,
    rgba(146, 222, 246, 0.408) 54.17%,
    rgba(89, 132, 194, 0.6) 77.96%
  );
  background-size: contain;
  background-repeat: no-repeat;
}
.hero-gradient {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background-size: contain;
  background-repeat: no-repeat;
}
.card-gradient {
  background: linear-gradient(
    103.91deg,
    rgba(255, 255, 255, 0.06) 4.87%,
    rgba(255, 255, 255, 0.03) 98.49%
  );
}
.card-img-gradient {
  background: linear-gradient(269.91deg, #262666 35.46%, #1780b2 99.95%);
}
.heading-gradient {
  background: linear-gradient(269.91deg, #262666 35.46%, #1780b2 99.95%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.secondary-heading-gradient {
  background: linear-gradient(90.19deg, #262666 2.5%, #1780b2 82.16%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.button-gradient {
  background: linear-gradient(269.91deg, #262666 35.46%, #1780b2 99.95%);
}
.sub-gradient {
  background: #ffffff59;
}
.video-background-gradient {
  background: linear-gradient(
    103.91deg,
    rgba(255, 255, 255, 0.35) 4.87%,
    rgba(255, 255, 255, 0.35) 98.49%
  );
}
.new-gradient {
  background: radial-gradient(
    circle,
    #f1defd,
    #eeecff,
    #e9f1ff,
    #e9f6ff,
    #edf9ff
  );
}

.side-triangle {
  width: 0;
  height: 0;
  border-left: 40px solid transparent; /* Half of the width */
  border-right: 40px solid transparent; /* Half of the width */
  border-bottom: 640px solid #332b5480; /* Height */
}
.white-triangle {
  width: 0;
  height: 0;
  transform: rotate(180deg);
  border-left: 700px solid #ffffff59; /* Half of the width */
  border-right: 700px solid #ffffff59; /* Half of the width */
  border-bottom: 600px solid #f5f5ff; /* Height */
}
.expert-section-gradient {
  background: linear-gradient(
    143.94deg,
    rgba(228, 170, 211, 0.4) 6.58%,
    rgba(218, 218, 188, 0.288) 30.38%,
    rgba(146, 222, 246, 0.272) 54.17%,
    rgba(89, 132, 194, 0.4) 77.96%
  );
}
.expert-heading-gradient {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.35) 0%,
    rgba(255, 255, 255, 0.035) 100%
  );
}

.circle1 {
  background: radial-gradient(
      88.14% 88.14% at 0% 12.65%,
      #cc00ff 0%,
      #e56700 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.circle2 {
  background: linear-gradient(180deg, #480093 1.42%, #ad19c1 136.25%);
}
.circle3 {
  background: radial-gradient(
      88.14% 88.14% at 0% 12.65%,
      #1780b2 0%,
      #262666 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
.circle4 {
  background: radial-gradient(
      88.14% 88.14% at 0% 12.65%,
      rgba(204, 0, 255, 0.1) 0%,
      rgba(229, 103, 0, 0.1) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
.circle5 {
  background: #04fefd4d;
}

.main {
  border: 2px dotted #000000;
  border-radius: 50%;
  width: 500px;
  height: 500px;
}
.cirlce1 {
  height: 50px;
  width: 50px;
  border: 2px dotted #000000;
  border-radius: 50%;
  top: 50px;
  margin-top: 75px;
}
.cirlce2 {
  height: 50px;
  width: 50px;
  border: 2px dotted #000000;
  border-radius: 50%;
  top: 50px;
  margin-top: 240px;
}
.cirlce3 {
  height: 50px;
  width: 50px;
  border: 2px dotted #000000;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-left: 400px;
}
.cirlce4 {
  height: 50px;
  width: 50px;
  border: 2px dotted #000000;
  border-radius: 50%;
  top: 50px;
  margin-bottom: 750px;
  margin-left: 250px;
}
.cirlce5 {
  height: 50px;
  width: 50px;
  border: 2px dotted #000000;
  border-radius: 50%;
  margin-left: 450px;
  margin-top: -1200px;
}
.concave-border {
  clip-path: polygon(
    20px 0,
    calc(100% - 20px) 0,
    100% 20px,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    20px 100%,
    0 calc(100% - 20px),
    0 20px
  );
}
/* .shape {
  width: 200px;
  height: 150px;
  background-color: #ffffff;
  border: 2px solid #000000; 
  border-radius: 0 0 50px 50px / 0 0 100% 100%; 
} */
.shape {
  width: 300px;
  height: 150px;
  background-color: #6495ed;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 80% 100%, 20% 100%, 0 85%);
}
